<div class="card shadow-sm border-0">
  <img [src]="serieDetail.poster" alt="{{ serieDetail.name }}" class="card-img-top img-fluid rounded-top" />

  <div class="card-body">
    <h5 class="card-title">{{ serieDetail.name }}</h5>
    <p class="card-text"><strong>Channel:</strong> {{ serieDetail.channel }}</p>
    <p class="card-text">{{ serieDetail.description }}</p>

    <a [href]="serieDetail.url" class="btn btn-outline-primary mt-2" target="_blank" rel="noopener noreferrer">
      Ver más
    </a>
  </div>
</div>
